/*
 * Plugin: Web Slide Navigation System
 * Demo Link: https://uxwing.com/webslide/
 * Author: UXWing
 * License: http://codecanyon.net/licenses/standard
*/
/* ======== Find Below Table of Content Points to Go Relevant Section  =========
[Table of contents DESKTOP]
Desktop Base CSS
Desktop Main Menu CSS
- Desktop Search Bar
Desktop Drop Down Menu CSS
Desktop Mega Menus CSS
-> Desktop Half Menu CSS
-> Desktop HTML Form Menu CSS
Desktop Extra CSS

[Table of contents MOBILE ]
Mobile Menu Change Brake Point
Mobile Base CSS
Mobile Main Menu CSS
Mobile Slide Down Links CSS
Mobile Mega Menus CSS
Mobile Header CSS
 -> Mobile Search Bar
 -> Mobile Toggle Menu icon (X ICON)
Mobile Overlay/Drawer CSS
Mobile Sub Menu Expander Arrows
Mobile Extra CSS
Extra @Media Query
===============================================================================*/
/* ================== Color  ================== */
/* Desktop Main Menu Color */
.wsmenu>.wsmenu-list {
  background-color: transparent;
}

/* Mobile Header Color */

.wsmobileheader {
  background-color: #424242;
}

.wsmenu>.wsmenu-list>li>a {
  color: #2e2e2e;
}

.wsmenu>.wsmenu-list>li>a .wsarrow:after {
  border-top-color: #b3b3b3;
}

.wsmenu>.wsmenu-list>li>a:hover .wsarrow:after {
  border-top-color: #355912;
}

.wsmenu>.wsmenu-list>li>a.active .wsarrow:after {
  border-top-color: #355912;
}

.wsmenu>.wsmenu-list>li:hover>a .wsarrow:after {
  border-top-color: #355912;
}

.wsmenu>.wsmenu-list>li>a>.fa {
  color: #898d91;
}

.wsmenu>.wsmenu-list>li>a.active .fa {
  color: #777777;
}

.wsmenu>.wsmenu-list>li:hover>a>.fa {
  color: #777777;
}

.wsmenu>.wsmenu-list>li>a:hover .fa {
  color: #777777;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"] {
  background-color: #2d8de8;
  color: #777777;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"] {
  background-color: #2d8de8;
  color: #777777;
}

.wsmenu>.wsmenu-list>li>a.active {
  color: #02b3f9;
}

.wsmenu>.wsmenu-list>li.active>a{
  border-bottom: 3px solid transparent;
	font-weight: 700;
}

.wsmenu>.wsmenu-list>li:hover>a {
  color: #02b3f9;
}

.wsmenu>.wsmenu-list>li:hover>a:before, .wsmenu>.wsmenu-list>li>a.active:before{
  /* opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); */
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
  background-color: #2d8de8;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
  background-color: #2d8de8;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {
  background-color: #2d8de8;
  color: #fff;
}
/* ================== Desktop Base CSS  ================== */
.wsmenu html, .wsmenu body, .wsmenu iframe, .wsmenu h1, .wsmenu h2, .wsmenu h3, .wsmenu h4, .wsmenu h5, .wsmenu h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  font-smooth: subpixel-antialiased;
}

.wsmenu .cl {
  clear: both;
}

.wsmenu img, object, embed, video {
  border: 0 none;
  max-width: 100%;
}

.wsmenu a:focus {
  outline: none;
}

.wsmenu:before, .wsmenu:after {
  content: "";
  display: table;
}

.wsmenu:after {
  clear: both;
}

/* ================== Desktop Main Menu CSS ================== */
.wsmenucontainer {
  background-size: cover;
  background-image: url(../images/bg01.jpg);
  overflow: hidden;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.wsmainfull {
  width: 100%;
}

.wsmainwp {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}

.desktoplogo {
  padding: 2.366rem 0px;
  margin: 0 auto;
}

.desktoplogo img {
  display: block;
  margin: 0px auto;
}

.wsmenu {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #2e2e2e;
  font-size: 13px;
  padding: 0;
}

.wsmenu>.wsmenu-list {
  text-align: left;
  margin: 0 auto 0 auto;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
}

.wsmenu>.wsmenu-list>li {
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.wsmenu>.wsmenu-list>li+li{
  margin-left: -4px;
}

.wsmenu>.wsmenu-list>li>a {
  display: block;
  color: #201c18;
  background: #fff;
  padding: 0px 16px;
  line-height: 76px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.40);
  -webkit-text-stroke: 0.25px #fff; */
  transition: all 0.5s ease;
}
.wsmenu>.wsmenu-list>li>a .fas{
  color: #02b3f9;
  padding-left: 3px;
}
.wsmenu>.wsmenu-list>li:last-child{
  margin-left: 30px;
  float: right;
}
.wsmenu>.wsmenu-list>li:first-child>a{
  padding-left: 30px;
}
.wsmenu>.wsmenu-list>li:nth-last-child(2)>a{
  padding-right: 30px;
}
.wsmenu>.wsmenu-list>li:last-child>a {
  background: #02b3f9;
  position: relative;
  color: #fff;
  text-decoration: underline;
}
.wsmenu>.wsmenu-list>li:last-child>a::before{
  content: '';
  position: absolute;
  top: 0px;
  height: 76px;
  width: 21px;
  right: 100%;
  border-left: 0px solid transparent;
  border-top: 76px solid transparent;
  border-right: 21px solid #02b3f9;
  border-bottom: 0px solid transparent;
  z-index: 2;
}

.wsmenu>.wsmenu-list>li>a .wsarrow{
  line-height: 0px;
}

.wsmenu>.wsmenu-list>li>a .wsarrow:after {
  content: "\f078";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  margin-left: 9px;
  /* height: 0;
  width: 0;
  margin: 0 0 0 14px;
  font-size: 0.5rem;
  display: block;
  right: 9px;
  top: 11px;
  float: right;
  position: absolute; */
}
/* Desktop Search Bar */
.wsminicart .minicart{
  display: inline-block;
  position: relative;
}
.wsminicart .minicart span{
  position: absolute;
  background: #eaeaea;
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 2px 4px;
  top: -14px;
  right: -14px;
  font-weight: 500;
  width: 18px;
  height: 20px;
}
.wsminicart .minicart a .fa{
  color: #7da500;
  font-size: 1.5rem;
}
.wsminicart .minicart a{
  color: #222222;
  transition: all 0.5s ease;
}
.wsminicart .minicart a:hover{
  text-decoration: none;
}

.wshotline{
  padding: 0px 15px;
  float: right;
  top: 0px;
}

.wssearch {
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  padding: 8px 12px;
}

.wssearch .fa {
  font-size: 1rem;
  color: #7a7a7a;
}

.wssearch .fa.fa-search {
  padding-top: 5px;
  color: #7a7a7a;
}

.wssearch .fa.fa-times {
  padding-top: 26px;
}

.wssearchform {
  display: none;
  width: 100%;
  line-height: 34px;
  padding: 20px 0px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wssearchform .form-control{
  height: calc(2.15rem + 3px);
  border-radius: 0px;
}
.wssearchform .btn{
  border-radius: 0px;
}

.wssearch.wsopensearch {
  width: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.80);
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wssearch.wsopensearch::before, .wssearch.wsopensearch::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  top: 0px;
}
.wssearch.wsopensearch::before{left: -100%;}
.wssearch.wsopensearch::after{right: -100%;}

.wssearch.wsopensearch .wssearchform {
  display: block;
  opacity: 1;
  visibility: visible;
}

.wssearchform form {
  width: calc((100% - 10px) - 25px);
  display: block;
  position: relative;
}

.wssearch.wsopensearch {
  padding: 8px 12px;
  left: 0px;
  right: auto;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.wssearch .fa-times {
  display: none;
}

.wssearch.wsopensearch .fa-times {
  display: inline-block;
  float: right;
  margin-top: 0;
  font-size: 25px;
  cursor: pointer;
}

.wssearch.wsopensearch .fa-search {
  display: none;
}

/* End Desktop Search Bar */
/* ================== Desktop Drop Down Menu CSS ================== */
.wsmenu>.wsmenu-list>li>ul.sub-menu {
  position: absolute;
  top: auto;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  min-width: 190px;
  background-color: #fff;
  border: solid 1px #e1e1e1;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: block;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a {
  background-image: none;
  color: #53565a;
  border-right: 0 none;
  font-weight: 400;
  text-align: left;
  display: block;
  line-height: 22px;
  border-bottom: 1px solid #e4e4e4;
	padding: 10px 20px;
  text-transform: none;
  font-size: 13px;
  letter-spacing: normal;
  border-right: 0px solid;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a:hover {
  text-decoration: none;
	background-color: #f5f5f5;
	color: #464545;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>a>.fa {
  margin-right: 9px;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: solid 1px #e1e1e1;
  border-top: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: block;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a {
  background-image: none;
  color: #000;
  border-right: 0 none;
  text-align: left;
  display: block;
  font-weight: 400;
  line-height: 22px;
  padding: 8px 12px;
  text-transform: none;
  font-size: 13px;
  letter-spacing: normal;
  border-right: 0px solid;
  transition: all 0.5s ease;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
  text-decoration: none;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a>.fa {
  margin-right: 9px;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0px;
  list-style: none;
  padding: 0px;
  background-color: #fff;
  border: solid 1px #eeeeee;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: block;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a {
  background-image: none;
  color: #666666;
  border-right: 0 none;
  text-align: left;
  display: block;
  line-height: 22px;
  padding: 8px 12px;
  text-transform: none;
  font-size: 13px;
  letter-spacing: normal;
  border-right: 0px solid;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
  text-decoration: none;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>.fa {
  margin-right: 9px;
}

/* ================== Desktop Mega Menus CSS  ================== */
.wsmenu>.wsmenu-list>li>.wsmegamenu {
  width: 100%;
  left: 0px;
  position: absolute;
  top: auto;
  color: #000;
  z-index: 1000;
  margin: 0px;
  text-align: left;
  padding: 15px 15px 0px 15px;
  font-size: 15px;
  border-bottom: 4px solid #0a3d6f;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid #ccc;
  -webkit-box-shadow: -2px 2px 2px 2px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: -2px 2px 2px 2px rgba(204, 204, 204, 0.5);
  box-shadow: -2px 2px 2px 2px rgba(204, 204, 204, 0.5);
  background-color: #e5f3ff;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .title {
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  padding: 9px 5px 9px 0px;
  font-size: 17px;
  color: #424242;
  margin: 0px 0px 7px 0px;
  text-align: left;
  height: 39px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-control-next {
  opacity: 0.8;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-control-prev {
  opacity: 0.8;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-caption {
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  height: 31px;
  left: 0;
  padding: 7px 0;
  right: 0;
  width: 100%;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .wsmwnutxt {
  width: 100%;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #424242;
  margin-top: 10px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li {
  display: block;
  text-align: center;
  white-space: nowrap;
  text-align: left;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  border-right: none;
  text-align: left;
  padding: 6px 0px;
  background-image: none;
  color: #2d8de8;
  border-right: 0 none;
  display: block;
  transition: all 0.5s ease;
}
.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li.lasted a{
  font-weight: 700;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li .fa {
  margin-right: 5px;
  text-align: center;
  width: 18px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li a:hover {
  color: #4cb848;
  background: transparent;
  text-decoration: none;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li .fa {
  font-size: 11px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li .fa {
  margin-right: 5px;
  text-align: center;
  width: 18px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .mrgtop {
  margin-top: 15px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .show-grid div {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #dbdbdb;
  border: 1px solid #e7e7e7;
  color: #6a6a6a;
  margin: 2px 0px;
  font-size: 13px;
}

/*= Desktop Half Menu CSS =*/
.wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
  width: 40%;
  right: auto;
  left: auto;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu.halfdiv {
  width: 35%;
  right: auto;
  left: auto;
}

/*= Desktop HTML Form Menu CSS =*/
.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form {
  width: 100%;
  display: block;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="text"] {
  width: 100%;
  border: 1px solid #e2e2e2;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px;
  min-height: 122px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"] {
  width: 25%;
  display: block;
  height: 32px;
  float: right;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  background-color: #e1e1e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"] {
  width: 25%;
  display: block;
  height: 32px;
  float: right;
  border: none;
  cursor: pointer;
  background-color: #e1e1e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-inner .item img {
  width: 100%;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .carousel-caption {
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  height: 31px;
  left: 0;
  padding: 7px 0;
  right: 0;
  width: 100%;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text {
  padding: 0px 0px;
  font-size: 14px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text ul {
  padding: 0px 0px;
  margin: 0px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text p {
  text-align: justify;
  line-height: 24px;
  color: #656565;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text ul li {
  display: block;
  padding: 2px 0px;
  line-height: 22px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .typography-text ul li a {
  color: #656565;
}

/* ================== Desktop Extra CSS ================== */
.wsmobileheader, .overlapblackbg {
  display: none;
}

.wsmenu .wsmenu-click {
  display: none;
}

.wsmenu .wsmenu-click02 {
  display: none;
}

.hometext {
  display: none;
}

/*==============================================================================
                              Start Mobile CSS
===============================================================================*/
/* ================== Mobile Menu Change Brake Point ================== */
@media only screen and (max-width: 991px) {

  /* ================== Mobile Base CSS ================== */
  html {
    overflow: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  body.wsactive {
    overflow: hidden;
  }

  /* ================== Mobile Main Menu CSS ================== */
  .wssearch {
    padding: 15px 15px 15px 0px;
    float: right;
    top: 0px;
  }

  .wsminicart {
    padding: 20px 15px 8px 15px;
    float: right;
  }

  .wssearch.wssearchdesktop, .wsminicart.wsminicartdesktop {
    display: none;
  }

  .wssearchform {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .wssearchform input {
    height: 34px;
  }

  .wssearchform form:before {
    height: 34px;
    line-height: 34px;
  }

  .wssearch.wsopensearch {
    height: 54px;
    margin-left: 0px;
  }

  .wssearch.wsopensearch .fa-times {
    font-size: 21px;
    padding-top: 7px;
  }

  .desktoplogo {
    display: none;
  }

  .wsmainfull {
    height: 0;
  }

  .wsmenucontainer {
    background-attachment: local;
    background-position: 58% 35%;
  }

  .wsmenu {
    width: 100%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    left: 0;
    overflow-y: hidden;
    padding: 0;
    top: 0;
    visibility: hidden;
    position: fixed;
    margin: 0px;
  }

  .wsmenu>.wsmenu-list {
    position: relative;
    height: auto;
    min-height: 100%;
    width: 240px;
    background: #fff;
    padding-bottom: 0;
    margin-left: -240px;
    display: block;
    text-align: center;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .wsmenu>.wsmenu-list>li {
    width: 100%;
    display: block;
    float: none;
    border-right: none;
    background-color: transparent;
    position: relative;
    white-space: inherit;
    clear: right;
  }

  .wsmenu>.wsmenu-list>li>a {
    -webkit-text-stroke: 0px #fff;
    text-shadow: 0px 0px 0px transparent;
    font-weight: 700;
    padding: 12px 32px 12px 17px;
    font-size: 14px;
    text-align: left;
    border-right: solid 0px;
    background-color: transparent;
    color: #666666;
    line-height: 25px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.13) !important;
    position: static;
  }

  .wsmenu>.wsmenu-list>li a.menuhomeicon {
    padding-left: 17px;
    padding-right: 17px;
    border-top: solid 1px rgba(0, 0, 0, 0.13);
  }

  .wsmenu>.wsmenu-list>li>a>.fa {
    font-size: 16px;
    color: #bfbfbf;
  }

  .wsmenu>.wsmenu-list>li>a .wsarrow:after {
    display: none;
  }

  .wsmenu>.wsmenu-list>li:hover>a {
    text-decoration: none;
    background: #f4dcc5;
    color: #fff;
  }

  .wsmenu>.wsmenu-list>li>a.active {
    background: #f4dcc5;
    color: #fff;
  }

  .wsmenu>.wsmenu-list>li>a>.hometext {
    display: inline-block;
  }

  /* ================== Mobile Slide Down Links CSS ================== */
  .wsmenu>.wsmenu-list>li>ul.sub-menu {
    display: none;
    position: relative;
    top: 0px;
    background-color: #fff;
    border: none;
    padding: 0px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    transition: inherit;
    -webkit-transform-style: flat;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>a {
    line-height: 20px;
    font-size: 13px;
    padding: 10px 0px 10px 16px;
    color: #383838;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li span+a {
    padding-right: 30px;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>a>.fa {
    display: none;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>a:hover {
    background-color: #e7e7e7;
    color: #666666;
    text-decoration: underline;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu li:hover>a {
    background-color: #e7e7e7;
    color: #666666;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu {
    width: 100%;
    position: static;
    left: 100%;
    top: 0;
    display: none;
    margin: 0px;
    padding: 0px;
    border: solid 0px;
    transform: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    transition: inherit;
    -webkit-transform-style: flat;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    position: relative;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a {
    line-height: 20px;
    font-size: 13px;
    padding: 10px 0px 10px 26px;
    color: #383838;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li span+a {
    padding-right: 30px;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a>.fa {
    display: none;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    background-color: #e7e7e7;
    color: #666666;
    text-decoration: underline;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a.active {
    color: #000;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
    color: #000;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu {
    width: 100%;
    position: static;
    left: 100%;
    top: 0;
    display: none;
    margin: 0px;
    padding: 0px;
    border: solid 0px;
    transform: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    transition: inherit;
    -webkit-transform-style: flat;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li {
    margin: 0px 0px 0px 0px;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a {
    line-height: 20px;
    font-size: 13px;
    padding: 10px 0px 10px 34px;
    color: #383838;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li span+a {
    padding-right: 30px;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>.fa {
    display: none;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    background-color: #e7e7e7;
    color: #666666;
    text-decoration: underline;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a.active {
    color: #000;
  }

  /* ================== Mobile Mega Menus CSS  ================== */
  .wsmenu>.wsmenu-list>li>.wsmegamenu {
    color: #666666;
    display: none;
    position: relative;
    top: 0px;
    padding: 10px 0px;
    border: solid 0px;
    transform: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    transition: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    -webkit-transform-style: flat;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu.halfmenu {
    width: 100%;
    margin: 0px;
    padding: 5px 0px 10px 0px;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu .title {
    color: #666666;
    font-size: 15px;
    padding: 10px 8px 10px 0px;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu>ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu>ul>li>a {
    padding: 9px 14px;
    line-height: normal;
    font-size: 13px;
    background-color: #e7e7e7;
    color: #666666;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu>ul>li>a:hover {
    background-color: #000000;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu ul li.title {
    line-height: 26px;
    color: #666666;
    margin: 0px;
    font-size: 15px;
    padding: 7px 0px;
    background-color: transparent;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu.halfdiv {
    width: 100%;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form {
    padding: 5px 0px 62px 0px;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu .show-grid div {
    margin: 0px;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"] {
    width: 46%;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"] {
    width: 46%;
  }

  .wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form textarea {
    min-height: 100px;
  }

  /* ================== Mobile Header CSS ================== */
  .wsmobileheader {
    width: 100%;
    display: block;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10002;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
  }

  .wsactive .wsmobileheader {
    margin-left: 240px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .wsmobileheader .smllogo {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  .wsmobileheader .smllogo img{
    width: 200px;
  }

  /* Mobile Search Bar*/
  .wsmenu>.wsmenu-list>li.rightmenu>.topmenusearch {
    width: 86%;
    margin: 7% 7%;
    padding: 0px;
  }

  .wsmenu>.wsmenu-list>li.rightmenu>.topmenusearch input {
    border-radius: 50px
  }

  .wsmenu>.wsmenu-list>li.rightmenu>.topmenusearch input:focus {
    width: 100%;
  }

  .callusbtn {
    color: #707274;
    font-size: 21px;
    position: absolute;
    right: 5px;
    top: 0px;
    transition: all 0.4s ease-in-out 0s;
    z-index: 102;
    padding: 11px 14px;
  }

  .callusbtn .fa {
    vertical-align: top;
    margin-top: 4px;
  }

  .callusbtn:hover .fa {
    color: #707274;
  }

  /* Mobile Toggle Menu icon (X ICON) */
  .wsanimated-arrow {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 102;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .wsanimated-arrow {
    cursor: pointer;
    padding: 16px 35px 16px 0px;
    margin: 7px 0 0 15px;
  }

  .wsanimated-arrow span, .wsanimated-arrow span:before, .wsanimated-arrow span:after {
    cursor: pointer;
    height: 2px;
    width: 17px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
  }

  .wsanimated-arrow span:before {
    top: -7px;
    width: 23px;
  }

  .wsanimated-arrow span:after {
    bottom: -7px;
    width: 17px;
  }

  .wsanimated-arrow span, .wsanimated-arrow span:before, .wsanimated-arrow span:after {
    transition: all 500ms ease-in-out;
  }

  .wsactive .wsanimated-arrow span:after {
    width: 23px;
  }

  .wsactive .wsanimated-arrow span {
    background-color: transparent;
  }

  .wsactive .wsanimated-arrow span:before, .wsactive .wsanimated-arrow.active span:after {
    top: 7px;
  }

  .wsactive .wsanimated-arrow span:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 0px;
  }

  .wsactive .wsanimated-arrow span:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  /* ================== Mobile Overlay/Drawer CSS ================== */
  .overlapblackbg {
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }

  .wsactive .wsmenu .overlapblackbg {
    display: block;
  }

  .wsmenucontainer {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .wsactive .wsmenucontainer {
    margin-left: 240px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .wsactive .wsmenu {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    visibility: visible;
    z-index: 1000;
    top: 0;
  }

  .wsactive .wsmenu>.wsmenu-list {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    margin-left: 0;
  }

  /* ================== Mobile Sub Menu Expander Arrows  ================== */
  .wsmenu>.wsmenu-list>li>.wsmenu-click {
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }

  .wsmenu>.wsmenu-list>li .wsmenu-click.ws-activearrow>i {
    transform: rotate(180deg);
    color: #fff;
  }

  .wsmenu>.wsmenu-list>li>.wsmenu-click>i {
    display: block;
    height: 23px;
    width: 25px;
    margin-top: 14px;
    margin-right: 10px;
    background-size: 25px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.50);
    float: right;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li .wsmenu-click02 {
    height: 41px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li .wsmenu-click02>i {
    display: block;
    height: 23px;
    width: 25px;
    margin: 8px 6px 8px 6px;
    background-size: 25px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.25);
    float: right;
  }

  .wsmenu>.wsmenu-list>li>ul.sub-menu>li .wsmenu-click02>i.wsmenu-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /*End Media Query*/
}

/* Extra @Media Query*/
@media only screen and (min-width: 992px) and (max-width:1162px) {
  .desktoplogo {
    margin-left: 0px;
    padding: 1.5rem 0px;
  }

  .wssearch{
    top: 0px;
  }
  .wssearch.wsopensearch{
    padding: 12px;
  }

  .wsmenu>.wsmenu-list>li>a>.wsarrow {
    display: none;
  }

  .wsmenu>.wsmenu-list>li>a {
    padding: 0px 10px;
    line-height: 84px;
  }

  .wsmenu>.wsmenu-list>li a.menuhomeicon {
    padding-left: 22px;
    padding-right: 22px;
  }
}
